.git/
.devcontainer/
.bloop/
**/.bloop/
**/.bloop/**
.bsp/
**/.bsp/
**/.bsp/**
.metals/
**/.metals/
**/.metals/**
.scala-build/
**/.scala-build/
**/.scala-build/**
target/
**/target/
**/target/**
project/target/
project/project/
